# issue
./fix-issue

# Env and Exe Folder
/.vs
/.idea
/x64

# Project
/TestCode

/U2NITS-10.0/.config
/U2NITS-10.0/output
/U2NITS-10.0/release_factory
/U2NITS-10.0/WorkingDirectory
/U2NITS-10.0/x64

/U2NITs-10.1/workingDirectory
/U2NITs-10.1/x64
/U2NITs-10.1
/U2NITs-10.1.rar

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

