# Last Modified on 2024-117

### By folder
/quick_start/FVMR/*.LOG
/quick_start/FVMR/imgui.ini

# Project U2NITS
/U2NITS-10.0/.config
/U2NITS-10.0/output
/U2NITS-10.0/release_factory
/U2NITS-10.0/WorkingDirectory
/U2NITS-10.0/working_directory
/U2NITS-10.0/x64

# Project FVMR
/FVMR/release_pack
/FVMR/x64

# Project TestCode
/TestCode

# Private Documents
/doc/fix-issue
/doc/uncompleted
/doc/unused_code

# IDE Cache
/.vs
/.idea

# Compile Cache
/x64

### By Type
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
# *.dll

# # Fortran module files
# *.mod
# *.smod

# # Compiled Static libraries
# *.lai
# *.la
# *.a
# *.lib

# # Executables
# *.exe
# *.out
# *.app

